# 1. Introduction to this notebook

The purpose of this notebook is to explain the process followed to load the scraped data during the data load phase.

# 2. Database design

Tables:

- products
    - product_id PK
    - brand_id FK
    - subcategory_id FK
    - product_name_norm
    - quantity
    - units
    - volume_weight

- categories
    - category_id
    - category_name

- subcategories
    - subcategory_id
    - category_id
    - subcategory_name
    - distinction
    - eco

- prices 
    - price_id PK
    - supermarket_product_id FK
    - date
    - price_amount

- supermarkets
    - supermarket_id PK
    - supermarket_name


- supermarket_product
    - supermarket_product_id PK
    - supermarket_id FK
    - product_name_supermarket
    - facua_url

- brands
    - brand_id PK
    - brand_name

Explain

# 3. Creation of database and data tables

In [ ]:
"""DROP TABLE IF EXISTS products, categories, subcategories, prices, supermarkets, supermarket_product, brands CASCADE;

CREATE TABLE categories (
    category_id SERIAL PRIMARY KEY,
    category_name VARCHAR(100) NOT NULL
);

CREATE TABLE subcategories (
    subcategory_id SERIAL PRIMARY KEY,
    category_id INT REFERENCES categories(category_id) ON DELETE CASCADE ON UPDATE CASCADE, -- if category is changed, change here too. If deleted, subcategory no longer needed
    subcategory_name VARCHAR(100) NOT NULL,
    distinction VARCHAR(100),
    eco BOOLEAN
);

CREATE TABLE brands (
    brand_id SERIAL PRIMARY KEY,
    brand_name VARCHAR(100) NOT NULL
);

CREATE TABLE products (
    product_id SERIAL PRIMARY KEY,
    brand_id INT REFERENCES brands(brand_id) ON DELETE SET NULL ON UPDATE CASCADE, -- if brand_id is changed, change here too. if deleted, remove category from product
    subcategory_id INT REFERENCES subcategories(subcategory_id) ON DELETE SET NULL ON UPDATE CASCADE, -- if category is changed, change here too. if deleted, remove category from product
    product_name_norm VARCHAR(200) NOT NULL,
    quantity NUMERIC,
    units VARCHAR(50),
    volume_weight NUMERIC
);

CREATE TABLE supermarkets (
    supermarket_id SERIAL PRIMARY KEY,
    supermarket_name VARCHAR(100) NOT NULL,
    product_name_supermarket VARCHAR(200)
);

CREATE TABLE supermarket_product (
    supermarket_product_id SERIAL PRIMARY KEY,
    supermarket_id INT REFERENCES supermarkets(supermarket_id) ON DELETE CASCADE ON UPDATE CASCADE, -- if supermarket is deleted, interation is no longer needed
    product_id INT REFERENCES products(product_id) ON DELETE CASCADE ON UPDATE CASCADE, -- if product is deleted, interation is no longer needed
    facua_url VARCHAR(255)
);

CREATE TABLE prices (
    price_id SERIAL PRIMARY KEY,
    supermarket_product_id INT REFERENCES supermarket_product(supermarket_product_id) ON DELETE CASCADE ON UPDATE CASCADE, -- if category is changed, change here too. If deleted, subcategory no longer needed
    date DATE NOT NULL,
    price_amount NUMERIC(10, 2) NOT NULL
);
"""

# 4. Data load

Order of loading:
- Brands
- Categories
- Subcategories 
- Supermarkets
- Products
- Supermarkets_products
- Prices